#root {
    display: flex;
    min-height: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile {
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    display: inline-flex;
    grid-gap: 20px;
    float: right;
    margin-top: 8px;
}

.profile .name {
    top: 5px;
    margin-right: 20px;
}

.right {
    text-align: right;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

.grid .ant-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ant-card.critical {
    border-color: #f5222d;
}

.grid .ant-card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

h4.ant-typography {
    display: inline-block;
    position: relative;
    top: 2px;
}

.divider {
    margin-right: 15px;
}

.card-footer {
    margin-top: auto;
}

.ant-btn-block {
    width: unset;
}

.ant-layout-header {
    padding-left: 16px;
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
